//Main config file for PerCell pipeline

process {
    // Global process config
    executor = 'slurm'
    withLabel: process_low {
        cpus = 2
    }
    withLabel: process_medium {
        cpus = 6
    }
    withLabel: process_high {
        cpus = 8
    }
    withLabel: process_long {
        time = 20.h
    }
    withLabel: process_high_memory {
        clusterOptions = '--partition=himem'
        cpus = 4
    }
}
 
params {
    max_memory = 1000.GB
    max_cpus = 10
    max_time = 120.h  

    // input/output default params
    input = 'example/example_input.csv'
    outdir = 'PerCell_Output'
    aligner = 'bowtie2'
    experimental = 'human'
    spikein = 'mouse'
   
    seq_center = ''
    enable_conda = ''

    // reference genome fastas and blacklists, replace with paths to downloaded reference genomes as required
    human_fa = ''
    mouse_fa = ''
    zebrafish_fa = ''
    fly_fa = ''
    human_blacklist = "$projectDir/assets/hg38-blacklist.v2.bed.gz"
    mouse_blacklist = "$projectDir/assets/mm10-blacklist.v2.Liftover.mm39.bed.gz"
    zebrafish_blacklist = "$projectDir/assets/blank_blacklist.bed.gz"
    fly_blacklist = "$projectDir/assets/dm6-blacklist.v2.bed.gz"
    
    // params for trimgalore
    clip_r1 = 0
    clip_r2 = 0
    three_prime_clip_r1 = 0
    three_prime_clip_r2 = 0

    // indices, null as default but can be replaced with paths to skip index generation steps
    human_chro_index = null
    mouse_chro_index = null
    zebrafish_chro_index = null
    fly_chro_index = null
    human_bowtie2_index = null
    mouse_bowtie2_index = null
    zebrafish_bowtie2_index = null
    fly_bowtie2_index = null

    // params for skipping specific processes
    skip_fastqc = false
    skip_trimming = false
    save_trimmed = false
    override_spikeinfail = false
    skip_downsample = false
    skip_annotation = true
    skip_motif = true

    // genome sizes needed for MACS2
    macs_gsize_human = 2700000000
    macs_gsize_mouse = 1870000000
    macs_gsize_zebrafish = 1679203469
    macs_gsize_fly = 120000000

    // Replace with paths to downloaded annotation files as required
    human_gtf = ''
    mouse_gtf = ''
    zebrafish_gtf = ''
    fly_gtf = ''

    // seed for randomizing downsampling
    seed = ''

    // params for peak calling and bigWig generation
    min_reps_consensus = 1
    narrow_peak = true
    broad_cutoff = 0.1
    macs2_cutoff = 1.301
    macs2_peak_method = 'ppois'
    macs2_bigwig_method = 'ppois'
    skip_idr = true
    idr_cutoff = 0.05
    skip_consensus = true
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// reset from main.nf to PC.nf
manifest.mainScript = 'PC.nf'

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}