/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
---------------------------------------------------------------------------------------------------------
*/

if (params.skip_trimming == false) {
    process {
        withName: 'TRIMGALORE' {
                publishDir = [
                        path: { "${params.outdir}/trimgalore/" },
                        pattern: "*.fq.gz",
                        mode: "copy",
                        enabled: params.save_trimmed
                ]
        }
    }
}

process {
    withName: 'CHROMAP_EXPERIMENTAL' { 
            ext.args = '-l 2000 --low-mem --remove-pcr-duplicates --SAM'
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/aligned/${params.experimental}/" },
            mode: "copy",
            pattern: "*.bam"
            ]
    }
    withName: 'CHROMAP_SPIKEIN' { 
            ext.args = '-l 2000 --low-mem --remove-pcr-duplicates --SAM'
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/aligned/${params.spikein}/" },
            mode: "copy",
            pattern: "*.bam"
            ]
    }
    withName: 'BOWTIE2_EXPERIMENTAL' { 
            ext.args2 = '-F 2308 -q 30'
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/aligned/${params.experimental}/" },
            mode: "copy",
            pattern: "*.bam"
            ]
    }
    withName: 'BOWTIE2_SPIKEIN' { 
            ext.args2 = '-F 2308 -q 30'
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/aligned/${params.spikein}/" },
            mode: "copy",
            pattern: "*.bam"
            ]
    }
    withName: 'samtools_experimental' { 
            ext.prefix = { "${meta.id}.sorted" }
    }
    withName: 'samtools_spikein' { 
            ext.prefix = { "${meta.id}.sorted" }
    }
    withName: 'PICARD_MERGE_EXPERIMENTAL' {
        ext.args   = '--SORT_ORDER coordinate --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = { "${meta.id}.mLb.sorted" }
        memory = 8.GB
        publishDir = [ enabled: false ]
    }
    withName: 'PICARD_MERGE_SPIKEIN' {
        ext.args   = '--SORT_ORDER coordinate --VALIDATION_STRINGENCY LENIENT --TMP_DIR tmp'
        ext.prefix = { "${meta.id}.mLb.sorted" }
        memory = 8.GB
        publishDir = [ enabled: false ]
    }
    withName: 'PICARD_DEDUP_EXPERIMENTAL' { 
            ext.prefix = { "${meta.id}.dd" }
            ext.args = '--REMOVE_DUPLICATES true'
            memory = 8.GB
            publishDir = [
                [
                        path: { "${params.outdir}/${params.aligner}/deduplicated/${params.experimental}/" },
                        mode: "copy",
                        pattern: "*.bam"
                ],
                [
                        path: { "${params.outdir}/${params.aligner}/deduplicated/${params.experimental}/metrics/" },
                        mode: "copy",
                        pattern: "*.metrics.txt"
                ]
            ]
    }
    withName: 'PICARD_DEDUP_SPIKEIN' { 
            ext.prefix = { "${meta.id}.dd" }
            ext.args = '--REMOVE_DUPLICATES true'
            memory = 8.GB
            publishDir = [
                [
                        path: { "${params.outdir}/${params.aligner}/deduplicated/${params.spikein}/" },
                        mode: "copy",
                        pattern: "*.bam"
                ],
                [
                        path: { "${params.outdir}/${params.aligner}/deduplicated/${params.spikein}/metrics/" },
                        mode: "copy",
                        pattern: "*.metrics.txt"
                ]
            ]
    }
     withName: 'flagstat' { 
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/spikein-flagstat/" },
            mode: "copy",
            pattern: "*.tsv"
            ]
    }
     withName: 'calculate' { 
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/scaling/" },
            mode: "copy",
            pattern: "scaling_factors.csv"
            ]
    }
    withName: 'downsample' { 
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/downsample/" },
            mode: "copy",
            pattern: "*_ds.bam"
            ]
    }
    withName: 'macs2_peakcalling' {
            publishDir = [
                [
                        path: {"${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_cutoff}_cutoff/"},
                        mode: 'copy',
                        pattern: "*_subcommands.narrowPeak"
                ],
                [
                        path: {"${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_peak_method}_scored-bdg/"},
                        mode: 'copy',
                        pattern: "*-scored.bdg"
                ]
            ]
    }
    withName: 'macs2_bdgcmp' { 
            publishDir = [
                path: { "${params.outdir}/${params.aligner}/macs2_bigwigs/${params.macs2_bigwig_method}" },
                mode: "copy",
                pattern: "*signal.bigWig"
            ]
    }
    withName: 'MULTIQC' { 
            ext.args   = "-d -dd 1 -i 'MultiQC Report for PC-ChIP pipeline' -b 'This is a report normalizing ${params.input} ${params.experimental} samples using ${params.spikein} as spike-in.' "
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/multiqc/" },
            mode: "copy",
            pattern: "*.html"
            ]
    }
    withName: 'HOMER_ANNOTATEPEAKS' { 
            ext.args   = ""
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_cutoff}_cutoff/annotations/" },
            mode: "copy",
            pattern: "*.annotatePeaks.txt"
            ]
    }
    withName: 'homer_findMotifsGenome' { 
            ext.args   = "-size 200 -mask -S 10 -nomotif"
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_cutoff}_cutoff/homer/motifs/" },
            mode: "copy",
            pattern: "*.html",
            saveAs: { filename -> "${peak.simpleName}_${filename}" }
            ]
    }
    withName: 'idr' { 
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_cutoff}_cutoff/${params.idr_cutoff}_idr" },
            mode: "copy",
            pattern: "*.{txt,png,bed}"
            ]
    }
    withName: 'bedtools_consensus' { 
            publishDir = [
            path: { "${params.outdir}/${params.aligner}/macs2_subcommands/${params.macs2_cutoff}_cutoff/consensus_peaks/" },
            mode: "copy",
            pattern: "*.consensus.bed"
            ]
    }
}